{% extends "base.html" %}
{% from "macros/page_header.html" import page_header %}
{% block title %}{{ page.title }}{% endblock %}
{% block breadcrumb %}
  <li><a href="/{{ org_handle }}/dashboard">{{ org.name }}</a></li>
  <li><a href="/{{ org_handle }}/pages">Pages</a></li>
  <li class="truncate max-w-48">{{ page.title }}</li>
{% endblock %}
{% block content %}
  <article class="min-w-0 max-w-2xl space-y-6">
    {% call page_header(page.title) %}
      {% if can_edit %}
        <a href="/{{ org_handle }}/pages/{{ page.slug }}/edit"
           class="btn btn-sm flex-none">
          <i class="ph ph-pencil ph-4" aria-hidden="true"></i>
          Edit
        </a>
      {% endif %}
    {% endcall %}
    <div class="card-panel">
      <div class="card-body">
        <div class="md-body">{{ body | safe }}</div>
      </div>
    </div>
  </article>
{% endblock %}
