{# An ApexCharts graph rendered by static/js/charts.js from `config` (see apps.shared.charts).
   The page loads the scripts once: `{% call chart_scripts() %}` in `{% block scripts %}`. #}
{% macro chart(config, label='') %}
  <script type="application/json" data-chart-config>{{ config | tojson }}</script>
  <div data-chart
       {% if label %}role="img" aria-label="{{ label }}"{% endif %}></div>
{% endmacro %}
{% macro chart_scripts() %}
  <script src="{{ asset('/static/js/apexcharts.min.js') }}"></script>
  <script src="{{ asset('/static/js/charts.js') }}" defer></script>
{% endmacro %}
